body {
    background-color: #867e7e;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    font-size: 3em;
    color: white;
    text-align: center;
  }

  .center{
    text-align: center;
  }