body{
    background-color: #867e7e;
}

a{
    color: #fff;
}

.center{text-align: center;}

p{
    width: 500px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 5px dashed #fff;
    padding: 20px;
    color: #fff;
    font-size: larger;
}